{
  "email": "",
  "password": "",
  "start_automatically": false,
  "random_delay": false,
  "auto_leave_after_min": 120,
  "blacklist": [
    {
      "team_name": "Example Team 1",
      "channel_names": [
        "First Channel to blacklist in this team",
        "Second Channel to blacklist"
      ]
    },
     {
      "team_name": "Blacklist whole team",
      "channel_names": [
      ]
    }
  ]
}