{
  "email": "",
  "password": "",

  "run_at_time": "",

  "start_automatically": false,
  "organisation_num" : 1,
  "random_delay": false,
  "check_interval": 5,

  "auto_leave_after_min": -1,
  "leave_if_last": true,

  "headless" : false,
  "mute_audio": false,
  "chrome_type": "google-chrome",

  "blacklist": [
    {
      "team_name": "Example Team 1",
      "channel_names": [
        "First Channel to blacklist in this team",
        "Second Channel to blacklist"
      ]
    },
     {
      "team_name": "Blacklist whole team",
      "channel_names": [
      ]
    }
  ]
}