{
  "email": "",
  "password": "",
  "start_automatically": false,
  "random_delay": false,
  "auto_leave_after_min": -1,
  "leave_if_last": true,
  "organisation_num" : 1,
  "headless" : false ,
  "mute_audio": false,
  "blacklist": [
    {
      "team_name": "Example Team 1",
      "channel_names": [
        "First Channel to blacklist in this team",
        "Second Channel to blacklist"
      ]
    },
     {
      "team_name": "Blacklist whole team",
      "channel_names": [
      ]
    }
  ]
}